@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");
* {
  margin: 0%;
  padding: 0;
  font-family: "EB Garamond", serif;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 25vh;
  margin: 0 0;
  padding: 3vh 2vw;
  background-color: rgb(140, 128, 116);
  color: rgb(242, 226, 196);
  box-sizing: border-box;
}
header .header-img {
  -o-object-fit: scale;
     object-fit: scale;
  width: 12%;
  height: 65%;
}
header .header-img img {
  width: 100%;
  height: 100%;
  border-color: rgb(115, 34, 26);
  border-style: solid;
}
header .header-img img:hover {
  background-color: rgb(115, 34, 26);
  color: rgb(64, 20, 16);
}
header h1 {
  font-size: clamp(1.75rem, 1rem + 2vw, 2.5rem);
}
header nav {
  background-color: rgb(140, 128, 116);
}
header nav ul li {
  margin-left: 5%;
}
header nav ul li a {
  font-size: clamp(0.8rem, 0.7rem + 1vw, 1.3rem);
  font-weight: 700;
  color: rgb(242, 226, 196);
  text-decoration: none;
  transition: color 0.5s ease, -webkit-text-decoration 1s ease;
  transition: color 0.5s ease, text-decoration 1s ease;
  transition: color 0.5s ease, text-decoration 1s ease, -webkit-text-decoration 1s ease;
}
header nav ul li a:hover {
  color: rgb(115, 34, 26);
  -webkit-text-decoration: underline rgb(115, 34, 26);
          text-decoration: underline rgb(115, 34, 26);
}

main {
  width: 100%;
  height: 75%;
  margin: 0 0;
  padding: 5vh 2vw;
  background-color: rgb(242, 226, 196);
  color: rgb(64, 20, 16);
  min-height: 73vh;
  box-sizing: border-box;
}
main #carousel-llama {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: box-shadow 0.5s ease;
  max-width: 35%;
  margin: 2vh auto;
  border-radius: 7px;
}
main #carousel-llama:hover {
  background-color: rgb(115, 34, 26);
  color: rgb(64, 20, 16);
}
main #carousel-llama .carousel-inner .carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 7px;
}
main .intro-txt {
  width: 100%;
  height: 19.5%;
  margin: 0% 0%;
  padding: 0% 20%;
  font-size: clamp(0.8rem, 0.7rem + 1vw, 1.3rem);
  max-height: 19.5%;
  max-width: 100%;
  text-align: center;
}
main audio {
  display: none;
}

.story {
  display: grid;
  grid-template-columns: 30% 45% 20%;
  -moz-column-gap: 5%;
       column-gap: 5%;
  max-width: 90%;
  padding: 0% 5%;
  margin: 2.5%;
}
.story .story-img {
  width: 100%;
  height: 100%;
}
.story .story-img:hover {
  background-color: rgb(242, 226, 196);
  color: rgb(64, 20, 16);
}
.story .story-img a {
  width: 100%;
  height: 100%;
}
.story .story-img a img {
  width: 100%;
  height: 100%;
}
.story .story-desc {
  width: 100%;
  height: 100%;
}
.story .story-desc a {
  color: rgb(64, 20, 16);
  text-decoration: none;
}
.story .story-desc a h2 {
  font-size: clamp(1.375rem, 0.875rem + 1.5vw, 2.25rem);
  margin-bottom: 5%;
}
.story .story-desc a:hover {
  color: rgb(115, 34, 26);
}
.story .story-prog {
  width: 100%;
  text-align: center;
  justify-self: center;
  align-self: center;
  font-size: clamp(0.8rem, 0.7rem + 1vw, 1.3rem);
  font-weight: 600;
  color: rgb(64, 20, 16);
}

#game {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: rgb(242, 226, 196);
  color: rgb(64, 20, 16);
  height: 100vh;
}
#game .gamescreen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  width: 60%;
  height: 100%;
}
#game .gamescreen img {
  height: 50%;
  border: solid rgb(64, 20, 16) 1px;
}
#game .gamescreen .adv-txt {
  width: 95%;
  height: 50%;
  margin-top: 1%;
  border: solid rgb(64, 20, 16) 1px;
  overflow: auto;
  background-color: rgb(252, 253, 237);
}
#game .gamescreen .adv-txt p {
  width: 95%;
  padding: 1% 1%;
  text-align: justify;
  text-indent: 1.5em;
}
#game .gamepad {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  width: 40%;
  height: auto;
}
#game .gamepad .btn-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 50%;
  height: 60%;
}
#game .gamepad .btn-container a {
  text-decoration: none;
  color: rgb(64, 20, 16);
}
#game .gamepad .btn-container button {
  font-size: clamp(0.8rem, 0.7rem + 1vw, 1.3rem);
  margin: 10%;
  border-radius: 10%;
  border-color: rgb(64, 20, 16);
  background-color: rgb(252, 253, 237);
  font-weight: 700;
}
#game .gamepad .btn-container button:hover {
  background-color: rgb(252, 253, 237);
  color: rgb(115, 34, 26);
  cursor: pointer;
  border-color: rgb(115, 34, 26);
}
#game .gamepad .character {
  display: flex;
  background-color: rgb(252, 253, 237);
  color: rgb(64, 20, 16);
  width: 98%;
  height: 36%;
  margin: 0% 0%;
  padding: 2% 2%;
  border: solid rgb(64, 20, 16) 1px;
}
#game .gamepad .character a {
  width: 25%;
  height: 100%;
  transition: box-shadow 0.2s ease-in, transform 0.2s ease-in;
}
#game .gamepad .character a:hover {
  background-color: rgb(115, 34, 26);
  color: rgb(64, 20, 16);
}
#game .gamepad .character a img {
  width: 100%;
  height: 100%;
}
#game .gamepad .character .char-description {
  width: 71%;
  height: 98%;
  margin: 0% 3%;
  padding: 0% 0%;
}
#game .gamepad .character .char-description p {
  font-size: clamp(0.8rem, 0.7rem + 1vw, 1.3rem);
}
#game .gamepad .character .char-description ul {
  list-style: none;
  margin-left: none;
  font-size: clamp(0.8rem, 0.7rem + 1vw, 1.3rem);
}

#profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  height: auto;
}
#profile .char-info {
  display: flex;
  width: 75%;
  height: 48%;
  margin-right: 1%;
  margin-bottom: 1%;
}
#profile .char-info img {
  width: 19.8%;
  height: 80%;
  border-radius: 10%;
  border: solid rgba(0, 0, 0, 0.6) 2px;
}
#profile .char-info .char-details {
  width: 72%;
  height: 100%;
  margin-left: 3%;
}
#profile .char-info .char-details h2 {
  font-size: clamp(1.375rem, 0.875rem + 1.5vw, 2.25rem);
  max-width: 100%;
  margin-bottom: 1%;
}
#profile .char-info .char-details h3 {
  font-size: clamp(1.3rem, 0.7rem + 1.4vw, 2rem);
  max-width: 100%;
}
#profile .char-info .progress-bar {
  background-color: rgb(115, 34, 26);
}
#profile .achievements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 33%;
  margin: 0% 0%;
  padding: 1% 1%;
  border: solid rgb(64, 20, 16) 2px;
  text-align: center;
}
#profile .achievements h2 {
  font-size: clamp(1.375rem, 0.875rem + 1.5vw, 2.25rem);
  color: rgb(64, 20, 16);
}
#profile .achievements ul {
  padding-left: 0%;
}
#profile .achievements ul a {
  color: rgb(64, 20, 16);
  text-decoration: none;
}
#profile .achievements ul a:hover {
  color: rgb(115, 34, 26);
}
#profile .char-desc-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 50%;
}
#profile .char-desc-container .char-desc-item {
  width: 20%;
  height: 94%;
  margin: 0% 0%;
  padding: 1% 0.5%;
  background-color: rgb(252, 253, 237);
  color: rgb(64, 20, 16);
  border: solid rgb(64, 20, 16) 1px;
}
#profile .char-desc-container .char-desc-item:hover {
  background-color: white;
  color: rgb(115, 34, 26);
}
#profile .char-desc-container .char-desc-item h2 {
  font-size: clamp(1.375rem, 0.875rem + 1.5vw, 2.25rem);
  text-align: center;
}
#profile .char-desc-container .char-desc-item ul {
  font-size: clamp(0.8rem, 0.7rem + 1vw, 1.3rem);
  padding-left: 0%;
  list-style: none;
  text-align: center;
}

#credits {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  height: auto;
  background-color: rgb(242, 226, 196);
  color: rgb(64, 20, 16);
  box-sizing: border-box;
}
#credits .data {
  padding: 4% 0%;
  text-align: center;
}
#credits .data h2 {
  font-size: clamp(1.375rem, 0.875rem + 1.5vw, 2.25rem);
  font-weight: 500;
}
#credits .data h3 {
  font-size: clamp(1.3rem, 0.7rem + 1.4vw, 2rem);
}
#credits .data h3 a {
  text-decoration: none;
  color: rgb(64, 20, 16);
}

form {
  width: 80%;
  margin: auto;
}
form div, form select {
  margin: 3% 0%;
}
form div input:active, form div option:active, form select input:active, form select option:active {
  border-color: rgb(115, 34, 26);
}
form #submit {
  color: rgb(64, 20, 16);
  background-color: rgb(140, 128, 116);
  border-color: rgb(115, 34, 26);
}

.form-control {
  background-color: rgb(252, 253, 237);
  border: 1px solid #88281f;
}
.form-control:focus {
  background-color: rgb(252, 253, 237);
  color: rgb(64, 20, 16);
  background-color: rgb(252, 253, 237);
  color: rgb(115, 34, 26);
  border-color: rgb(115, 34, 26);
  outline: 0;
}

.form-select {
  background-color: rgb(252, 253, 237);
  border: 1px solid #88281f;
}
.form-select:focus {
  border-color: rgb(115, 34, 26);
  outline: 0;
  box-shadow: 0 0 0 0.25rem #69211a;
}

.form-check-input:focus {
  border-color: rgb(115, 34, 26);
  outline: 0px;
  box-shadow: #69211a 0px 0px 0px 0.25rem;
}
.form-check-input:checked {
  background-color: rgb(115, 34, 26);
  border-color: rgb(115, 34, 26);
}

#error404 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../../media/img/notfound.webp);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
#error404 .error-details {
  background-color: rgb(252, 253, 237);
  opacity: 0.6;
  color: rgb(64, 20, 16);
  height: auto;
  text-align: center;
}
#error404 .error-details #error-title {
  font-size: clamp(1.75rem, 1rem + 2vw, 2.5rem);
}
#error404 .error-details #error-text {
  font-size: clamp(0.8rem, 0.7rem + 1vw, 1.3rem);
}
#error404 .error-details #error-link {
  text-decoration: none;
  color: rgb(115, 34, 26);
}
#error404 .error-details #error-link:hover {
  color: rgb(64, 20, 16);
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 20%;
  margin: 0% 0%;
  padding: 1vh 2vw;
  background-color: rgb(140, 128, 116);
  color: rgb(242, 226, 196);
  box-sizing: border-box;
}
footer .contact-info {
  width: 25%;
  height: 99%;
  padding-top: 2%;
  text-align: center;
}
footer .contact-info i {
  color: rgb(242, 226, 196);
}
footer .contact-info i:hover {
  color: rgb(115, 34, 26);
}

@media screen and (max-width: 900px) {
  header {
    max-height: 30vh;
  }
  header .header-img {
    width: 20%;
    height: auto;
  }
  header h1 {
    width: 50%;
    max-height: 40%;
    text-align: center;
    font-size: clamp(1.75rem, 1rem + 2vw, 2.5rem);
  }
  header .header-btn {
    width: 20%;
    height: 70%;
  }
  header .header-btn button {
    font-size: clamp(0.8rem, 0.7rem + 1vw, 1.3rem);
  }
  header nav {
    min-width: 100%;
  }
  header nav ul li {
    font-size: clamp(0.8rem, 0.7rem + 1vw, 1.3rem);
  }
  main #carousel-llama {
    max-width: 65%;
  }
  footer {
    padding: 1.5% 0%;
  }
  .story {
    grid-template-columns: 30% 70%;
  }
  .story .story-img {
    max-width: 90%;
  }
  .story .story-desc {
    max-width: 90%;
  }
  .story .story-desc h2 {
    font-size: 1.2rem;
  }
  .story .story-desc p {
    font-size: 0.9rem;
  }
  .story .story-prog {
    display: none;
  }
  #game {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: none;
    height: auto;
  }
  #game .gamescreen {
    display: flex;
    justify-content: center;
    width: 70%;
    height: auto;
  }
  #game .gamescreen img {
    width: 50%;
    height: auto;
  }
  #game .gamescreen .adv-txt {
    margin: 1%;
    height: 60%;
  }
  #game .gamepad {
    width: 70%;
    height: auto;
  }
  #game .gamepad .btn-container {
    width: 100%;
  }
  #game .gamepad .btn-container button {
    font-size: clamp(0.8rem, 0.7rem + 1vw, 1.3rem);
  }
  #profile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #profile .char-info {
    width: 80%;
    margin: 1% 0%;
  }
  #profile .char-info .char-info img {
    width: 30%;
  }
  #profile .char-info .char-details h2 {
    font-size: 1.5rem;
  }
  #profile .char-info .char-details h3 {
    font-size: 1rem;
  }
  #profile .achievements {
    margin: 1% 0%;
    width: 80%;
    height: 50%;
  }
  #profile .char-desc-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 1% 0%;
  }
  #profile .char-desc-container .char-desc-item {
    width: 100%;
    margin: 1% 0%;
  }
  #profile .char-desc-container .char-desc-item h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  #profile .char-desc-container .char-desc-item ul {
    width: 100%;
    text-align: center;
    font-size: 1em;
    padding-left: 0%;
  }
  footer {
    font-size: clamp(0.8rem, 0.7rem + 1vw, 1.3rem);
  }
}
@media screen and (max-width: 790px) {
  header .header-img {
    width: 15%;
  }
  header .header-btn {
    width: 15%;
    height: 40%;
  }
  #game .gamescreen {
    width: 90%;
    height: auto;
  }
  #game .gamepad {
    display: flex;
    flex-direction: none;
    flex-wrap: none;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 90%;
    height: auto;
  }
  footer {
    font-size: clamp(0.8rem, 0.7rem + 1vw, 1.3rem);
  }
}
@media screen and (max-width: 526px) {
  header h1 {
    font-size: clamp(1.75rem, 1rem + 2vw, 2.5rem);
  }
  header .header-btn button {
    max-height: 100%;
    font-size: clamp(0.8rem, 0.7rem + 1vw, 1.3rem);
  }
  header nav ul li {
    font-size: clamp(0.8rem, 0.7rem + 1vw, 1.3rem);
  }
  #game .gamescreen {
    display: block;
    width: 90%;
    height: auto;
  }
  #game .gamepad {
    display: flex;
    flex-direction: none;
    flex-wrap: none;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 90%;
    height: auto;
  }
  #game .gamepad .character {
    display: none;
  }
  footer {
    font-size: clamp(0.8rem, 0.7rem + 1vw, 1.3rem);
  }
  footer .contact-info p {
    display: none;
  }
}
@media screen and (max-width: 370px) {
  header {
    display: flex;
    flex-direction: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: auto;
    padding-top: 10%;
  }
  header h1 {
    font-size: clamp(0.8rem, 0.7rem + 1vw, 1.3rem);
  }
  header .header-btn button {
    font-size: clamp(0.8rem, 0.7rem + 1vw, 1.3rem);
  }
  header nav ul li {
    font-size: clamp(0.8rem, 0.7rem + 1vw, 1.3rem);
  }
  .story {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: center;
    align-items: center;
    align-content: none;
    margin-bottom: 2%;
  }
  .story h2 {
    text-align: center;
  }
  #game .gamescreen {
    width: 90%;
    height: auto;
  }
  #game .gamepad {
    display: flex;
    flex-direction: none;
    flex-wrap: none;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 90%;
    height: auto;
  }
  footer {
    font-size: clamp(0.8rem, 0.7rem + 1vw, 1.3rem);
  }
}/*# sourceMappingURL=main.css.map */