footer {
    @include flex(null, null, center, center, null);
    @include set_boxmodel(100%, 20%, 0%, 0%, 1vh, 2vw);
    box-sizing: border-box;
    background-color: map-get($colors, "darker");
    color: map-get($colors, "primary");

    .contact-info {
        @include set_width_height(25%, 99%);
        padding-top: 2%;
        text-align: center;

        i {
            color: map-get($colors, "primary");
            &:hover {
                color: map-get($colors, "attention");
            }
        }
    }
}