@mixin set_boxmodel($width, $height, $vertical_margin, $horizontal_margin, $vertical_padding, $horizontal_padding) {
    width: $width;
    height: $height;
    margin: $vertical_margin $horizontal_margin;
    padding: $vertical_padding $horizontal_padding;
}

@mixin set_width_height($width, $height) {
    width: $width;
    height: $height;
}

@mixin header_items {
    width: 12%;
    height: 65%;
}

@mixin buttons($width, $height) {
    width: $width;
    height: $height;
    border-style: solid;
    border-color: map-get($colors, "attention");
    border-radius: 4px;
    background-color: lighten(map-get($colors, "darker"), 2);
    font-weight: bold;
    color: darken(map-get($colors, "primary"), 5);
}

@mixin character_a_hover {
    transition: box-shadow .2s ease-in,
    transform .2s ease-in;

    &:hover {
        box-shadow: .3rem -.2rem .1rem map-get($colors, "attention"),
        -.3rem .2rem .7rem map-get($colors, "danger");}
}

@mixin carousel_hover {
    transition: box-shadow .5s ease;
    &:hover {
        box-shadow: 0.3rem -0.3rem 1rem map-get($colors, "attention"),
                    -0.3rem 0.3rem 1rem  map-get($colors, "danger");
    }
}

@mixin full_size {
    width: 100%;
    height: 100%;
}

@mixin center_text {
    width: 100%;
    text-align: center;
    justify-self: center;
    align-self: center;
}