@use "sass:map";

$primary: rgb(242, 226, 196);
$secondary: rgb(252, 253, 237);
$darker: rgb(140, 128, 116);
$attention: rgb(115, 34, 26);
$danger: rgb(64, 20, 16);


$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "darker": $darker,
    "attention": $attention,
    "danger": $danger,
);