@mixin flex(
    $direction: row,
    $wrap: nowrap,
    $justify:space-evenly,
    $align-i:center,
    $align-c:center
    ) {
        display: flex;
        flex-direction: $direction;
        flex-wrap: $wrap;
        justify-content: $justify;
        align-items: $align-i;
        align-content: $align-c;
}

@mixin grid_story {
    display: grid;
    grid-template-columns: 30% 45% 20%;
    column-gap: 5%;
}

@mixin grid_btn_container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
