footer {
    @include flex($justify: center, $align-i: center);
    @include set_boxmodel(100%, 20%, 0%, 0%, 1vh, 2vw);
    @include color-scheme($darker, $primary);
    box-sizing: border-box;

    .contact-info {
        @include set_width_height(25%, 99%);
        padding-top: 2%;
        text-align: center;

        i {
            color: $primary;
            &:hover {
                color: $attention;
            }
        }
    }
}