$breakpoints: (
    "lg": 900px,
    "md": 790px,
    "sm": 526px,
    "xsm": 370px,
);

@media screen and (max-width: map-get($breakpoints, "lg")) {
    header {
        max-height: 30vh;

        .header-img {
            width: 20%;
            height: auto;
        }
        
        h1 {
            width: 50%;
            max-height: 40%;
            text-align: center;
            @include font-size(
                map-get($font_sizes_h1, "min"),
                map-get($font_sizes_h1, "desired"),
                map-get($font_sizes_h1, "vw"),
                map-get($font_sizes_h1, "max")
                );
        }

        .header-btn {
            width: 20%;
            height: 70%;
            button {
                @include font-size(
                    map-get($font_sizes_p, "min"),
                    map-get($font_sizes_p, "desired"),
                    map-get($font_sizes_p, "vw"),
                    map-get($font_sizes_p, "max")
                    );
            }
        }

        nav {
            min-width: 100%;
            ul {
                li {
                    @include font-size(
                        map-get($font_sizes_p, "min"),
                        map-get($font_sizes_p, "desired"),
                        map-get($font_sizes_p, "vw"),
                        map-get($font_sizes_p, "max")
                        );
                }
            }
        }
    }

    main {
        #carousel-llama {
            max-width: 65%;
        }
    }

    footer {
        padding: 1.5% 0%;
    }

    .story {
        grid-template-columns: 30% 70%;
        
        .story-img {
            max-width: 90%;
        }
        .story-desc {
            max-width: 90%;
                h2 {
                    font-size: 1.2rem;
                }
                p {
                    font-size: .9rem;
                }
        }
        .story-prog {
            display: none;
        }
    }

    #game {
        @include flex(column, nowrap, center, center, none);
        height: auto;

        .gamescreen {
            display: flex;
            justify-content: center;
            width: 70%;
            height: auto;

            img {
                width: 50%;
                height: auto;
            }
            .adv-txt {
                margin: 1%;
                height: 60%;
            }
        }
        .gamepad {
            width: 70%;
            height: auto;

            .btn-container {
                width: 100%;

                button {
                    @include font-size(
                        map-get($font_sizes_p, "min"),
                        map-get($font_sizes_p, "desired"),
                        map-get($font_sizes_p, "vw"),
                        map-get($font_sizes_p, "max")
                        );
                }
            }

        }
    }

    #profile {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .char-info {
            
            width: 80%;
            margin: 1% 0%;
            .char-info img {
                width: 30%;
            }
            .char-details {
                h2 {
                font-size: 1.5rem;   
                }
                h3 {
                    font-size: 1rem;
                }
            }
        }

        .achievements {
            margin: 1% 0%;
            width: 80%;
            height: 50%;
        }

        .char-desc-container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            width: 80%;
            margin: 1% 0%;

            .char-desc-item {
                width: 100%;
                margin: 1% 0%;

                h2 {
                    font-size: 1.2rem;
                    text-align: center;
                }

                ul{
                    width: 100%;
                    text-align: center;
                    font-size: 1em;
                    padding-left: 0%;
                }
            }
        }
    }
    footer {
        @include font-size(
            map-get($font_sizes_p, "min"),
            map-get($font_sizes_p, "desired"),
            map-get($font_sizes_p, "vw"),
            map-get($font_sizes_p, "max")
            );
    }
}

@media screen and (max-width: map-get($breakpoints, "md")) {
    header {
        .header-img {
            width: 15%;
        }

        .header-btn {
            width: 15%;
            height: 40%;
        }
    }

    #game {
        .gamescreen {
            width: 90%;
            height: auto;
        }
        .gamepad {
            @include flex(none, none, space-around, center, center);
            width: 90%;
            height: auto;
        }
    }
    footer {
        @include font-size(
            map-get($font_sizes_p, "min"),
            map-get($font_sizes_p, "desired"),
            map-get($font_sizes_p, "vw"),
            map-get($font_sizes_p, "max")
            );
    }
}

@media screen and (max-width: map-get($breakpoints, "sm")) {
    header {
        h1 {
            @include font-size(
                map-get($font_sizes_h1, "min"),
                map-get($font_sizes_h1, "desired"),
                map-get($font_sizes_h1, "vw"),
                map-get($font_sizes_h1, "max")
                );
        }
        .header-btn {
            button {
                max-height: 100%;
                @include font-size(
                    map-get($font_sizes_p, "min"),
                    map-get($font_sizes_p, "desired"),
                    map-get($font_sizes_p, "vw"),
                    map-get($font_sizes_p, "max")
                    );
            }
        }
        nav {
            ul {
                li {
                    @include font-size(
                        map-get($font_sizes_p, "min"),
                        map-get($font_sizes_p, "desired"),
                        map-get($font_sizes_p, "vw"),
                        map-get($font_sizes_p, "max")
                        );
                }
            }
        }
    }

    #game {
        .gamescreen {
            display: block;
            width: 90%;
            height: auto;
        }

        .gamepad {
            @include flex(none, none, space-around, center, center);
            width: 90%;
            height: auto;

            .character {
                display: none;
            }
        }
    }

    footer {
        @include font-size(
            map-get($font_sizes_p, "min"),
            map-get($font_sizes_p, "desired"),
            map-get($font_sizes_p, "vw"),
            map-get($font_sizes_p, "max")
            );

        .contact-info {
            p {
                display: none;
            }
        }
    }
}

@media screen and (max-width: map-get($breakpoints, "xsm")) {
    header {
        @include flex(none, wrap, space-evenly, center, center);
        height: auto;
        padding-top: 10%;

        h1 {
            @include font-size(
                map-get($font_sizes_p, "min"),
                map-get($font_sizes_p, "desired"),
                map-get($font_sizes_p, "vw"),
                map-get($font_sizes_p, "max")
                );
        }

        .header-btn {
            button {
                @include font-size(
                    map-get($font_sizes_p, "min"),
                    map-get($font_sizes_p, "desired"),
                    map-get($font_sizes_p, "vw"),
                    map-get($font_sizes_p, "max")
                    );
            }
        }

        nav {
            ul {
                li {
                    @include font-size(
                        map-get($font_sizes_p, "min"),
                        map-get($font_sizes_p, "desired"),
                        map-get($font_sizes_p, "vw"),
                        map-get($font_sizes_p, "max")
                        );
                }
            }
        }
    }

    .story {
        @include flex(column, none, center, center, none);
        margin-bottom: 2%;

        h2 {
            text-align: center;
        }
    }

    #game {
        .gamescreen {
            width: 90%;
            height: auto;
        }
        .gamepad {
            @include flex(none, none, space-around, center, center);
            width: 90%;
            height: auto;
        }
    }

    footer {
        @include font-size(
            map-get($font_sizes_p, "min"),
            map-get($font_sizes_p, "desired"),
            map-get($font_sizes_p, "vw"),
            map-get($font_sizes_p, "max")
            );;
    }
}