@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

$adventure_font: 'EB Garamond', serif;
$font_sizes: (
    "plus_one": 1.1em,
    "large": 1.5em,
    "larger": 2em,
    "largest": 2.5em,
);
$font_weights: (
    "thin": 500,
    "thick": 600,
    "thicker": 700,
);