@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

$adventure_font: 'EB Garamond', serif;
$font_weights: (
    "thin": 500,
    "thick": 600,
    "thicker": 700,
);

// FONT SIZES FOR FLUID FONTS
$font_sizes_h1: (
    "min": 1.75rem,
    "desired": 1rem,
    "vw": 2vw,
    "max": 2.5rem,
);

$font_sizes_h2: (
    "min": 1.375rem,
    "desired": 0.875rem,
    "vw": 1.5vw,
    "max": 2.25rem,
);

$font_sizes_p: (
    "min": 0.8rem,
    "desired": 0.7rem,
    "vw": 1vw,
    "max": 1.3rem,
);